
/*Main components*/

/*Top section*/
.wd-top-section {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    /*top-left*/
    padding: 12px 16px;
}

/*Label of top section*/
.wd-title {
    color: white;
    font-size: small;
    font-weight: bolder;
}

/*top section metadata*/
.wd-title-metadata {
    color: lightgrey;
    font-size: small;
}


/*Content Section*/

/*bookmark content section*/
.wd-content-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
}

/*Circular thumbnail image*/
.wd-thumbnail-circular{
    margin-right: 12px;
    width:48px;
    height: 48px;
    border-radius: 50%;
}

/*Content text section*/
.wd-content-text-section{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*Content header section*/
.wd-content-header-section {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex: 1;
}

/*Content author name*/
.wd-content-author{
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

/*Content metadata*/
.wd-content-metadata {
    color: darkgray;
    font-weight: normal;
    font-size: small;
}

/*Content message*/
.wd-content-message {
    font-size: 15px;
    color: white;
    margin-top: 4px;
    margin-bottom: 12px;
    max-width: 506px;
}

/*Content image*/
.wd-content-image {
    width: 504px;
    height: 264px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}

/*Content caption section*/
.wd-content-caption-section {
    /*Note: width = 504 max width -  margins of 16 on both sides*/
    width: 480px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    padding: 12px;
}

/*Content caption title*/
.wd-content-caption-title {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

/*Content caption text*/
.wd-content-caption-text {
    font-size: 15px;
    color: lightgray;
    margin-top: 4px;
}








