

/*Main components*/

/*html content margin and background*/
html {
    font-size: x-small;
    /*font-family: 'Arial Rounded MT';*/
}


/*Overrider btn primary*/
.btn-primary {
    background-color: rgb(29,161,242);
    font-weight: bold;
}

.nav-tabs{
    padding-top: 2px;
    border: none;
    justify-content: space-between;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: black;
    border: none;
    border-bottom: 3px solid rgb(29,161,242);
    color: white;
    font-weight: bold;
}

/*Menu bar*/
.wd-menu-bar {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    flex-direction: row;
}

/*Menu items*/
.wd-menu-item{
    padding: 16px 16px 16px 16px;
    font-size: 15px;
    text-decoration: none;
}

/*Posts*/
.wd-posts {
    padding: 12px;
}

/*Posts Metadata*/
.wd-posts-metadata{
    color: rgb(110, 118, 125);
    font-size: xx-small;
    width: 100%;
    display: flex;
    font-weight: normal;
    align-items: center;
    justify-content: space-between;
}


/*Posts author*/
.wd-posts-author {
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Posts author icon*/
.wd-posts-icon {
    border-radius: 16px;
    object-fit: cover;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    margin-left: 2px;
}

/*Posts time*/
.wd-posts-author-time {
    margin-left: 2px;
}

/*Posts source*/
.wd-posts-author {
    font-weight: bold;
    color: white;
    font-size: xx-small;
}

/*Posts */
.wd-posts-title {
    font-weight: bold;
    color: white;
    font-size: 15px;
}

/*Posts thumbnail*/
.wd-posts-thumbnail {
    border-radius: 10px;
    /*object-fit: cover;*/
    width: 90%;
    height: 90%;
}

/*List group*/
.list-group {
    border-radius: 14px;
}

.list-group .list-group-item {
    background-color: #1e1f21;
    color: white;
}

.wd-image-circular {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*Generic content settings*/

/*Add right margin*/
.wd-margin-right {
    margin-right: 12px;
}

/*Main content border*/
.wd-content-border {
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: rgb(47, 51, 54);
}


.wd-border-gray {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1pt;
    overflow: auto;
}

/*border top bottom*/
.wd-border-y {
    border-top: 1pt solid rgb(47, 51, 54);
    border-bottom: 1pt solid rgb(47, 51, 54);
}

/*.wd-fill-grey {*/
/*    background-color:  rgb(47, 51, 54);*/
/*}*/

/*define grey color setting*/
.wd-darkgrey {
    color: darkgray;
}

/*define grey color setting*/
.wd-lightgrey {
    color: lightgray;
}

/*define regular item color*/
.wd-regular {
    color: rgb(110, 118, 125);
}




/*!*wireframe*!*/
/*.wd-content {*/
/*    max-width: 570px;*/
/*    font-family: 'Arial Rounded MT Bold';*/
/*}*/

/*!*html content margin and background*!*/
/*html {*/
/*    background-color: black;*/
/*    margin-left: 16px;*/
/*}*/


/*!*top section*!*/
/*.wd-top-section {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*}*/

/*!*search bar *!*/
/*.wd-search-bar {*/
/*    background-color: #202327;*/
/*    display: flex;*/
/*    flex: 1;*/
/*    flex-direction: row;*/
/*    border-radius: 100px;*/
/*    align-items: center;*/
/*    padding: 8px;*/
/*    margin: 12px 12px 12px 12px;*/
/*!*    Margin: top right bottom left*!*/
/*}*/

/*!*search*!*/
/*.wd-search-input {*/
/*    color: white;*/
/*    background-color: #202327;*/
/*    margin-left: 12px;*/
/*    border: none;*/
/*    width: 100%;*/
/*}*/
