/*Generic content settings*/

/*html content margin and background*/
html {
    background-color: black;
    margin-left: 16px;
}

/*wireframe*/
.wd-content {
    max-width: 600px;
    font-family: 'Arial Rounded MT', sans-serif;
    margin: auto;
}

/*Add right margin*/
.wd-margin-right {
    margin-right: 12px;
}


/*Add left margin*/
.wd-margin-left {
    margin-left: 16px;
}

/*Add top margin*/
.wd-margin-top {
    margin-top: 12px;
}

/*Add bottom margin*/
.wd-margin-bottom {
    margin-bottom: 12px;
}

/*Add bottom border*/
.wd-border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(47, 51, 54);
}

/*Add top border*/
.wd-border-top {
    border-top-width: 1px;
    border-top-style: solid;
    border-color: rgb(47, 51, 54);
}


/*Main content border*/
.wd-content-border {
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: rgb(47, 51, 54);
}

/*.wd-fill-grey {*/
/*    background-color:  rgb(47, 51, 54);*/
/*}*/

/*define grey color setting*/
.wd-grey {
    color: darkgray;
}

/*define regular item color*/
.wd-regular {
    color: rgb(110, 118, 125);
}

/*define selected item color*/
.wd-selected {
    color: rgb(29,161,242);
}

/*define selected item border*/
.wd-selected-border {
    background-color: rgb(29,161,242);
    width: 100%;
    height: 4px;
    border-radius: 3px;
    margin-top: 16px;
}

/*define flex settings */
.wd-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Circular thumbnail image*/
.wd-thumbnail-circular{
    width:48px;
    height: 48px;
    border-radius: 50%;
}

